.navbar-brand img {
    max-height: 40px; /* Adjust logo size */
  }
  
  .navbar-title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 100%;
  }
  
  .profile-name {
    color: white;
    font-weight: bold;
  }
  
  .navbar-nav {
    margin-right: auto; /* Align profile section to the left */
  }
  
  .navbar-toggler {
    border-color: white;
  }
  
  .navbar-dark .navbar-toggler-icon {
    background-color: white;
  }
  